name: Static Analysis
permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/analyze.yml'

  pull_request:
    paths:
      - '.github/workflows/analyze.yml'

jobs:

  cppcheck:
    name: Check source code

    runs-on: ubuntu-latest
    steps:

    - name: Check out repository
      uses: actions/checkout@v5
      with:
        submodules: true

    - name: install package dependencies
      run: sudo apt-get install -y cppcheck

    - name: Run cppcheck
      run: make analyze
